.men-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .search-sort{
    margin: 20px;
  }

  .men-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .men{
      display: flex;
      flex-direction: column; /* Align content vertically */
      align-items: center;
      text-align: center; /* Center text */
  
      .img {
        margin-bottom: 10px;
        width: 100%;
        display: flex; /* Added display: flex */
        justify-content: center; /* Center the image horizontally */
      }
  
      
      .info {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        .left {
          width: 60%;
          display: block;
          align-items: center;
          justify-content: center;
  
          h3 {
            color: black;
          }
  
          h6 {
            color: black;
          }
        }
  
        .right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 40%; /* Adjusted width for the right side */
  
          b {
            color: black;
          }
          button {
            color: white;
            background-color: rgba(0, 17, 255, 0.6);
            border: none;
            padding: 5px 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    b{
      padding: 0 10px;
    }
  }
}
