.edit-product{
    h1{
        margin: 20px;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        input{
            padding: 10px 40px;
            margin: 15px;
        }

        
        textarea{
            padding: 10px 40px;
            margin: 15px;
        }

        select{
            padding: 5px 40px;
        }
        button{
            background-color: rgba(0, 17, 255, 0.600);
            border: none;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
        }
    }

}