.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom,rgba(0, 17, 255, 0.500), rgba(0, 17, 255, 0.199));
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 50%;
        margin-bottom: 50px;
        background-color: white;

        h2{
            margin-bottom: 50px;
        }
        .email{
            input{
                position: relative;
                right: 2%;
                padding: 10px 20px;
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 80px;
                background-color: rgba(0, 17, 255, 0);
            }
        }
        .password{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            input{
                padding: 10px 20px;
                border: none;
                border-bottom: 1px solid black;
                background-color: rgba(0, 17, 255, 0);
            }

            .password-icon{
                position: relative;
                right: 5%;
            }
        }

        button{
            padding: 12px 30px;
            margin-top: 25px;
            background-color: rgba(0, 17, 255, 0.500);
            border: none;
            color: white;
            cursor: pointer;
        }

        a{
            color: black;
            margin-top: 30px;
        }
    }
}